<style>
    /*底部固定*/
    .nav{
        height:60px;
        background-color: #fbfbfb;
        border-top: 1px solid #d9d9d9;
        position: fixed;
        bottom:0px;
        width: 100%;
        z-index: 999;
    }
    .nav ul li{
        width: 25%;
        float: left;
        text-align: center;
    }
    .nav ul li img{
        padding:37%;
        box-sizing: border-box;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    .nav ul li p{
        margin-top: 2.5px;
    }
</style>
<body>
<!--底部固定-->
<div class="nav">
    <ul>
        <li>
            <a href="{:url('/')}"><img src="__IMG__/m_foot/zhuye.png" alt=""/><p>首页</p></a>
            
        </li>
        <li>
            <img src="__IMG__/m_foot/fenlei.png" alt=""/>
            <p>分类</p>
        </li>
        <li>
            <img src="__IMG__/m_foot/gouwuche.png" alt=""/>
            <p>购物车</p>
        </li>
        <li>
            <img src="__IMG__/m_foot/wode.png" alt=""/>
            <p>我的</p>
        </li>
    </ul>
</div>
</body>
