
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>登录=>注册</title>

	<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //Meta-Tags -->

	<!-- Style --> <link rel="stylesheet" href="__CSS__/styles.css" type="text/css" media="all">



</head>
<!-- //Head -->

<!-- Body -->

<body>

	<h1>登录=>表单</h1>

	<div class="container w3layouts agileits">

		<div class="login w3layouts agileits">
			<h2>登 录</h2>
			<form action="{:url('/login_in')}" method="post" onsubmit="return yanzheng()">
				<input type="text" id="username" Name="Username" placeholder="用户名" value="">
				<input type="password" id="pass" Name="Password" placeholder="密码" value="">
			<!--</form>-->
			<ul class="tick w3layouts agileits">
				<li>
					<input type="checkbox" id="brand1" value="">
					<label for="brand1"><span></span>记住我</label>
				</li>
			</ul>
			<div class="send-button w3layouts agileits">
				<!--<form>-->
					<input type="submit" value="登 录">
				</form>
			</div>
			<a href="#">记住密码?</a>
			<div class="social-icons w3layouts agileits">
				<p>- 其他方式登录 -</p>
				<ul>
					<li class="qq"><a href="#">
					<span class="icons w3layouts agileits"></span>
					<span class="text w3layouts agileits">QQ</span></a></li>
					<li class="weixin w3ls"><a href="#">
					<span class="icons w3layouts"></span>
					<span class="text w3layouts agileits">微信</span></a></li>
					<li class="weibo aits"><a href="#">
					<span class="icons agileits"></span>
					<span class="text w3layouts agileits">微博</span></a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			<div class="clear"></div>
		</div><div class="copyrights"></div>
		

		<div class="clear"></div>

	</div>

	<div class="footer w3layouts agileits">
		
	</div>

</body>
<!-- //Body -->
<script src="__JS__/jquery.js"></script>
<script>
    function yanzheng()
    {
        var username = $("#username").val();
        if(username == false)
        {
            alert('用户名不能为空！！！');
            return false;
        }
        var pass = $("#pass").val();
        if(pass == false)
        {
            alert('密码不能为空！！！');
            return false;
        }
    }
</script>
</html>